body {
    font-family: 'Inconsolata', monospace;
}

header {
    min-height: 110px;
}

header .navbar {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand img {
    height: 1em;
    vertical-align: baseline;
    margin-bottom: -6px;
}

.header_menu {
    font-size: 1.5em;
}

.block_1 {
    font-size: 4.5em;
    text-align: justify;
    line-height: 0.9;
}

@media (min-width: 992px) {
    .block_1 {
        font-size: 7em;
    }
}

.block_1 img {
    height: 1em;
    vertical-align: baseline;
    margin-bottom: -23px;
}


.break_word {
    word-break: break-all;
}

::selection {
    color: #005BBB;
    background: #FFD500;
}

.uacolors {
    color: #005BBB;
    background: #FFD500;
    display: inline-block;
}

.uacolors_inline {
    color: #005BBB;
    background: #FFD500;
}

.uacolors_inline.active {
    color: #FFD500;
    background: #005BBB;
}

hr {
    border-top: 8px dashed #000000;
    opacity: 1;
    margin-top: 5em;
    margin-bottom: 5em;
}

.cvname {
    font-size: 2.5em;
}

.block_2 {
    font-size: 3em;
    line-height: 1.1;
}

@media (min-width: 992px) {
    .block_2 {
        font-size: 4em;
    }
}

.text_blue {
    color: #005BBB;
}

.text_yellow {
    color: #FFD500;
}

.text_grey {
    color: grey;
}

.block_2 img {
    height: 0.8em;
    /* width: 1em; */
    vertical-align: baseline;
}

.block_3 {
    font-size: 2.5em;
    line-height: 1.1;
    text-align: left;

    /* margin-top: 2em;
    margin-bottom: 2em; */
}

/* .block_3 .row {
    background-color: rgb(244 244 244);
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: -16px;
    margin-right: -16px;
} */

.block_4 {
    font-size: 2.5em;
    line-height: 1.1;
    margin-bottom: 1em;
}

.block_5 {
    font-size: 2.5em;
    line-height: 1.1;
    margin-bottom: 1em;
}

.block_5 a {
    text-decoration: none;
}

.block_5 a.active {
    text-decoration: underline;
    color: #FFD500;
}

.block_6 {}

.load_more_wrap {
    margin-top: 2em;
}


.load_more_wrap a {
    text-decoration: none;
    font-size: 1.5em;
}

.block_7 {
    font-size: 2.5em;
    line-height: 1.1;
}

.block_7 p {
    margin-bottom: 0.15em;
}

.block_8 {
    font-size: 2.5em;
    line-height: 1.1;
}

.block_9 {
    font-size: 2em;
    line-height: 1.1;
}

@media (min-width: 992px) {
    .block_9 {
        font-size: 2.5em;
    }
}

.projects_grid {}

.projects_grid .project_item {
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
}

.projects_grid .project_item.hidden_item {
    display: none;
}

.projects_grid .project_item img {
    width: 100%;

}

.project_item_tags {
    font-size: 1.2em;
    line-height: 1.1;
    margin-top: 0.5em;
}



.block_10 {
    font-size: 2.5em;
    margin-bottom: 1em;
    line-height: 0.9;
}

.block_11 {
    font-size: 1em;
    margin-bottom: 2em;
}

#scroll-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #555;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#scroll-top:hover {
    background-color: #555;
    color: #fff;
    transform: scale(1.1);
}

#hamburger {
    font-size: 2em;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
}

.mobile_menu_toggle {
    display: none;
    transition: all 1s ease-in-out;
}

.mobile_menu_toggle.open {
    display: flex;
    margin-top: 1em;
}

@media (min-width: 768px) {
    .mobile_menu_toggle {
        display: flex;
        margin-top: 0 !important;
    }
}